<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="membership">
            <h2><span jhiTranslate="hsadminNgApp.membership.detail.title">Membership</span>: {{membership.displayLabel}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hsadminNgApp.membership.admissionDocumentDate">Admission Document Date</span></dt>
                <dd>
                    <span>{{membership.admissionDocumentDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.membership.cancellationDocumentDate">Cancellation Document Date</span></dt>
                <dd>
                    <span>{{membership.cancellationDocumentDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.membership.memberFromDate">Member From Date</span></dt>
                <dd>
                    <span>{{membership.memberFromDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.membership.memberUntilDate">Member Until Date</span></dt>
                <dd>
                    <span>{{membership.memberUntilDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.membership.remark">Remark</span></dt>
                <dd>
                    <span>{{membership.remark}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.membership.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="membership.customerId">
                        <a [routerLink]="['/customer', membership.customerId, 'view']">{{membership.customerDisplayLabel}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/membership', membership.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
