<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="hsadminNgApp.customer.detail.title">Customer</span>: {{customer.displayLabel}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hsadminNgApp.customer.reference">Reference</span></dt>
                <dd>
                    <span>{{customer.reference}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.prefix">Prefix</span></dt>
                <dd>
                    <span>{{customer.prefix}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.name">Name</span></dt>
                <dd>
                    <span>{{customer.name}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.kind">Kind</span></dt>
                <dd>
                    <span jhiTranslate="{{'hsadminNgApp.CustomerKind.' + customer.kind}}">{{customer.kind}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{customer.birthDate}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.birthPlace">Birth Place</span></dt>
                <dd>
                    <span>{{customer.birthPlace}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.registrationCourt">Registration Court</span></dt>
                <dd>
                    <span>{{customer.registrationCourt}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.registrationNumber">Registration Number</span></dt>
                <dd>
                    <span>{{customer.registrationNumber}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.vatRegion">Vat Region</span></dt>
                <dd>
                    <span jhiTranslate="{{'hsadminNgApp.VatRegion.' + customer.vatRegion}}">{{customer.vatRegion}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.vatNumber">Vat Number</span></dt>
                <dd>
                    <span>{{customer.vatNumber}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.contractualSalutation">Contractual Salutation</span></dt>
                <dd>
                    <span>{{customer.contractualSalutation}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.contractualAddress">Contractual Address</span></dt>
                <dd>
                    <span>{{customer.contractualAddress}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.billingSalutation">Billing Salutation</span></dt>
                <dd>
                    <span>{{customer.billingSalutation}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.billingAddress">Billing Address</span></dt>
                <dd>
                    <span>{{customer.billingAddress}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customer.remark">Remark</span></dt>
                <dd>
                    <span>{{customer.remark}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
