<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerContact">
            <h2><span jhiTranslate="hsadminNgApp.customerContact.detail.title">Customer Contact</span> {{customerContact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hsadminNgApp.customerContact.role">Role</span></dt>
                <dd>
                    <span jhiTranslate="{{'hsadminNgApp.CustomerContactRole.' + customerContact.role}}">{{customerContact.role}}</span>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customerContact.contact">Contact</span></dt>
                <dd>
                    <div *ngIf="customerContact.contactId">
                        <a [routerLink]="['/contact', customerContact.contactId, 'view']">{{customerContact.contactEmail}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hsadminNgApp.customerContact.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="customerContact.customerId">
                        <a [routerLink]="['/customer', customerContact.customerId, 'view']">{{customerContact.customerPrefix}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-contact', customerContact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
